<h1>{{name}}</h1>
{{#unless isOrganizer}}
<p class="font-italic">Created by: <b>{{organizer.name}}</b></p>
{{else}}
<p class="font-italic">Created by you!</p>
{{/unless}}
<p  class="mb-0"><b>Date: </b>{{readableDate}}</p>
<p><b>Time: </b>{{time}}</p>
<p class="font-italic">{{description}}</p>

<div class="bg-light my-2 py-4 px-2 col-lg-2 col-md-3 text-center">

{{#if isUserLoggedIn}}
<p class="font-weight-bold">Sign up to participate in this event</p>
<a class="btn btn-success font-weight-bold" href="/auth/signup/{{id}}">Sign up to Palcony</a>
{{else if isOrganizer}}
<p class="font-weight-bold">You organized this event</p>
<a class="btn btn-info" href="/events/edit-event/{{id}}">Edit this event</a>
{{else if isParticipant}}
<p class="font-weight-bold">You are participating in this event</p>
<a class="btn btn-danger" href="/events/abandon/{{id}}">Abandon this event</a>
{{else}}
<p class="font-weight-bold">Would you like to join the event?</p>
<a class="btn btn-success" href="/events/participate/{{id}}">Participate in this event!</a>
{{/if}}

</div>

{{#if errorMessage}}
<h4 class="rounded-pill text-center py-3 px-2 bg-danger text-light font-weight-bold my-4 w-50">{{message}}</h4>
{{/if}}


<p class="font-weight-bold mb-0">Location:
<ul class="d-none">
<li class=""><b>Latitude: </b> <i id="latitude" >{{latitude}}</i></li>
<li class=""><b>Longitude: </b> <i id="longitude">{{longitude}}</i></li>
</ul>
</p>

<div style="height: 80vw;  width: auto;  margin: 0px;" id="mymap"></div>

<script>
    var map = L.map('mymap').setView([{{latitude}}, {{longitude}}], 20);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
    L.marker([{{latitude}}, {{longitude}}]).addTo(map)
        .bindPopup(`<p class="font-weight-bold text-primary mx-3 my-2">{{name}}</p>`)
        .openPopup();
</script>

        