<div class="card mt-5 mx-3 shadow" style="width: 20%;">
    <img class="card-img-top" style="object-fit: cover;" src="{{this.images.0.url}}" alt="">
    <div class="card-body spot-color">
        <h5 class="card-title">{{name}} {{ this.lastName}}</h5>
        <p class="card-text">{{this.genres}}</p>
        <form action="/track/{{this.id}}", method='GET'>
        <button class="btn align-text-bottom btn-outline-light">View Tracks</button> </form>
    </div>
</div>