<div class="card mt-3 mx-2 col-lg-3 col-md-5 shadow ">
    <img class="card-img-top" style="object-fit: cover;" src="{{images.0.url}}" alt="">
    <div class="card-body spot-color">
        <h5 class="card-title mb-1">{{name}}</h5>
        <p class="card-text mb-0 pb-0">{{readableDate}} at {{readableTime}}</p>
        <p class="text-secondary font-italic pt-0 my-0">Organised by {{organizer.name}}</p>
        <div class="text-center">
            <a href="/events/{{id}}" class="btn text-center align-text-bottom btn-outline-success mt-3">Discover more</a>
        </div>
    </div>
</div>