<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />


  <title>Document</title>
</head>

<body>
  <h1>#stayAtHome</h1>
  <h2>Check what's going on around you!</h2>

{{#each eventItems}}
    <div class="card mt-3 mx-1 shadow">
    <img class="card-img-top" style="object-fit: cover;" src="{{images.0.url}}" alt="">
    <div class="card-body spot-color">
      <h5 class="card-title">{{this.name}} by {{this.organizer.name}}</h5>
      <p class="card-text">{{this.date}}</p>
        <a href="/events/{{id}}" class="btn align-text-bottom btn-outline-green">More Info</a>
    </div>
  </div>
{{/each}}




  <p class="d-none">
    latitude: <span id="latitude"></span>&deg;<br />
    longitude: <span id="longitude"></span>&deg;
  </p>
  <div id="mymap"></div>

  {{!-------------------------------------------MAPA-------------------------------------------}}
  <script>
    const latInput = document.getElementById("lat")
    const lonInput = document.getElementById("lon")
    const mymap = L.map("mymap", {
      marker = L.marker([lat, lon]).addTo(mymap);
      minZoom: 14,
    })
    let marker
    if ("geolocation" in navigator) {
      console.log("geolocation available");
      navigator.geolocation.getCurrentPosition(position => {
        lat = position.coords.latitude;
        lon = position.coords.longitude;
        console.log(lat, lon);
        document.getElementById("latitude").textContent = lat;
        document.getElementById("longitude").textContent = lon;
        mymap.setView([lat, lon], 20);
        const attribution = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> ';
        const tileUrl = "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png";
        const tiles = L.tileLayer(tileUrl, { attribution });
        tiles.addTo(mymap);
        marker = L.marker([lat, lon]).addTo(mymap);
        latInput.value = lat
        lonInput.value = lon
      })
    } else {
      console.log("geolocation not available")
    }

  </script>
  {{!-------------------------------------------MAPA-------------------------------------------}}

</body>

</html>