<h1>{{currentUserInfo.name}}, these are the events happening near you</h1>


{{#if message}}
<h4 class="rounded-pill text-center py-3 px-2 bg-success text-light font-weight-bold my-4 w-50">{{message}}</h4>
{{/if}}


<h4>Click on any marker to see the details of the event</h4>

<div id="mymap"></div>

<input type="string" id="lat" value="{{currentUserInfo.latitude}}" class="d-none">
<input type="string" id="lon" value="{{currentUserInfo.longitude}}" class="d-none">
{{!---------------------<input type="number" id="lat" value="{{">----------------------MAPA-------------------------------------------}}
<script>
  const mymap = L.map("mymap", {
    minZoom: 14,
  })
  let marker

  if ("geolocation" in navigator) {
    console.log("geolocation available");
    navigator.geolocation.getCurrentPosition(position => {
      lat = position.coords.latitude;
      lon = position.coords.longitude;
      console.log(lat, lon);
      mymap.setView([lat, lon], 17);
      const attribution =
        '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> ';
      const tileUrl = "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png";
      const tiles = L.tileLayer(tileUrl, { attribution });
      tiles.addTo(mymap);
      marker = L.marker([lat, lon]).addTo(mymap);
    });
  } else {
    console.log("geolocation not available");
  }


</script>